@import url('https://fonts.googleapis.com/css2?family=Trispace:wght@400;600&display=swap');

body {
  margin: 0;
  font-family: 'Trispace', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}